.App header {
    margin: 30px 0;
}

.App-KnowledgeIcon {
    max-width: 200px;
    display: block;
    margin: 0 auto;
}

.container {
 background-image: linear-gradient(-225deg, #7085B6 0%, #87A7D9 50%, #DEF3F8 100%);
 max-width: 800px;
}

h1 {
    text-align: center;
    margin-top: 30px;
}