
.Dictionary section {
background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);   
margin: 0 auto;
margin-bottom: 20px;
max-width: 80%;
display: block;
padding: 30px;
border-radius: 8px;
box-shadow: 0 10px 10px rgb(0 0 0 / 6%);
}

.Dictionary h1 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.Dictionary input {
    width: 100%;
    padding: 6px 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    color: #333;
}

.Dictionary hint {
    font-size: 11px;
    margin-top: 5px;
}

.Dictionary .button-search {
    border: 1px solid #2f536f;
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 18px;
    transition: all 150ms ease-in-out;
    font-size: 15px;
    font-weight: bold;
    margin-right: 10px;
    color: #2f536f;
}