
.Dictionary section {
background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);   
margin: 20px 0;
}

.Dictionary h1 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
}

.Dictionary input {
    width: 100%;
    padding: 6px 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    color: #333;
}

.Dictionary hint {
    font-size: 11px;
    margin-top: 5px;
}